<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>
        <div class="header-2">
            <div class="container">
                <%- include('../partials/ad-nav.ejs') %>
            </div>
        </div>

        <div class="med-add">
            <form action="/admin/edit/<%= product._id %>" method="POST">
                <label for="name">Enter Your Medicine Name: </label>
                <input type="text" name="name" id="name" value="<%= product.name %>">
                <label for="price">Enter Your Price($): </label>
                <input type="number" name="price" id="price" value="<%= product.price %>">
                <label for="src">Enter Your Medicine Image Link: </label>
                <input type="text" name="src" id="src" value="<%= product.src %>">
                <label for="desc">Describe your product: </label><br>
                <textarea name="desc" type="text" id="desc" cols="30" rows="10"><%= product.desc %></textarea>
                <br>
                <label for="rating">Enter the Product rating:</label>
                <input type="number" name="rating" id="rating" value="<%= product.rating %>">
                <label for="type">Enter Your Medicine Type: </label>
                <input type="text" name="type" id="type" value="<%= product.type %>">
                <br>
                <button class="btn" type="submit">Edit</button>
                <a class="delete" data-doc="<%=product._id%>">
                    <button class="btn">Delete</button>
                </a>
            </form>
        </div>

        <!------------Footer-------------->
        <%- include('../partials/footer.ejs') %>
    </body>
    <script>
        const trashcan = document.querySelector('a.delete');

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/admin/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                    method: 'DELETE'
                })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch(err => console.log(err))
        })
    </script>

</html>