<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <div class="header-2">
            <div class="container">
                <%- include('./partials/nav.ejs') %>
            </div>
        </div>
        <!-----account page------>
        <div class="account">

            <div class="acc-head">
                <span>My Account</span>
            </div>
            <br>
            <div class="row profile">
                <div class="col-2">
                    <%if(!user.image.data){%>
                        <img src="/profile.jpg" alt="Profile Picture" class="user-image">
                        <%}else{%>
                            <img src="data:image/<%=user.image.contentType%>;base64,
                     <%=user.image.data.toString('base64')%>">
                            <%}%>

                </div>
                <div class="acc-details col-2">
                    <img id="edit" alt="Edit icon" src="https://img.icons8.com/material-two-tone/2x/edit.png">
                    <p>Name:
                        <%=user.username%>
                    </p>
                    <hr><br>
                    <p>Email:
                        <%=user.email%>
                    </p>
                    <hr><br>
                    <p> Phone No:
                        <%=user.phone%>
                    </p>
                    <hr><br>
                    <p> Address:
                        <%=user.address%>
                    </p>
                    <hr><br>
                    <form action="/account" method="POST" enctype="multipart/form-data">
                        <label for="image" style="color: #555;">Upload</label>
                        <hr width="30%">
                        <br>
                        <input type="file" id="image" name="image" value="" required>
                        <button type="submit" class="btn" id="btn-upload">Upload</button>
                    </form>
                </div>
            </div>
        </div>
        <!------------Footer-------------->
        <%- include('./partials/footer.ejs') %>

            <!-----------JS for toggle Menu------------>
            <script>
                var MenuItems = document.getElementById("MenuItems");
                MenuItems.style.maxHeight = "0px";

                function menuToggle() {
                    if (MenuItems.style.maxHeight == "0px") {
                        MenuItems.style.maxHeight = "200px"
                    } else {
                        MenuItems.style.maxHeight = "0px"
                    }
                }
            </script>
            <script>
                $(document).ready(function() {
                    $("#edit").click(function() {
                        var str = '<form class="profile-form" method="POST" action="/account-edit">     <p>Name:         <%=user.username%>     </p>     <hr><br>     <p>Email:         <%=user.email%>     </p>     <hr><br>     <p> Phone No: <input type="tel" id="phone" name="phone" placeholder="<%=user.phone%>" pattern="[0-9]{10}" value="" required>     </p>     <hr><br>     <p> Address: <input type="text" placeholder="<%=user.address%>" name="address" id="address" required></p>     <button type="submit" class="btn" id="btn-upload">Edit</button><hr><br><br>  </form> <form action="/account" method="POST" enctype="multipart/form-data">     <label for="image" style="color: #555;">Upload</label>     <hr width="30%"><br>     <input type="file" id="image" name="image" value="" required>     <button type="submit" class="btn" id="btn-upload">Upload</button> </form>'
                        console.log('F')
                        $(this).parent().html(str);
                    });
                });
            </script>
            <!-----------js for toggle form------>
    </body>

</html>