<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <div class="header-2">
            <div class="container">
                <%- include('./partials/nav.ejs') %>
            </div>
        </div>
        <!-----account page------>
        <div class="account">

            <div class="acc-head">
                <span>My Account</span>
            </div>
            <br>
            <div class="row">
                <div class="col-2">
                    <%if(!user.image.data){%>
                        <img src="/profile.jpg" alt="Profile Picture" class="user-image">
                        <%}else{%>
                            <img src="data:image/<%=user.image.contentType%>;base64,
                     <%=user.image.data.toString('base64')%>">
                            <%}%>

                </div>
                <div class="acc-details col-2">
                    <p>Name:
                        <%=user.username%>
                    </p>
                    <hr><br>
                    <p>Email:
                        <%=user.email%>
                    </p>
                    <hr><br>
                    <p> Phone No: 1234567898</p>
                    <hr><br>
                    <p> Address: 12, Wharf Street, London, UK</p>
                    <hr><br>
                    <form action="/account" method="POST" enctype="multipart/form-data">
                        <label for="image" style="color: #555;">Upload</label>
                        <hr width="30%">
                        <input type="file" id="image" name="image" value="" required>
                        <button type="submit" class="btn" id="btn-upload">Upload</button>
                    </form>
                </div>

            </div>
        </div>
        <!------------Footer-------------->
        <%- include('./partials/footer.ejs') %>

            <!-----------JS for toggle Menu------------>
            <script>
                var MenuItems = document.getElementById("MenuItems");
                MenuItems.style.maxHeight = "0px";

                function menuToggle() {
                    if (MenuItems.style.maxHeight == "0px") {
                        MenuItems.style.maxHeight = "200px"
                    } else {
                        MenuItems.style.maxHeight = "0px"
                    }
                }
            </script>
            <!-----------js for toggle form------>
    </body>

</html>