<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <div class="container">
            <%- include('./partials/nav.ejs') %>
        </div>

        <!--------------------Cart Item Details---------->

        <div class="small-container cart-page">
            <table>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
                <% var sum=0;%>
                    <% if(products.length>0){%>

                        <%products.forEach(product=>{%>
                            <tr>
                                <td>
                                    <div class="cart-info">
                                        <img src="<%=product._productid.src%>">
                                        <div>
                                            <p>
                                                <%=product._productid.name%>
                                            </p>
                                            <small><%=product._productid.price%>$</small>
                                            <br />
                                            <!--a class="delete" data-doc="<%= product._id %>"><button class="btn">Remove</button></a-->
                                            <a class="delete"><button class="btn" value="<%= product._id %>" onclick="check(event)">Remove</button></a>
                                        </div>
                                    </div>
                                </td>
                                <td><input type="number" value="<%=product.quantity%>"></td>
                                <td>
                                    <%=product.quantity*product._productid.price%>$
                                        <%sum+=product.quantity*product._productid.price%>
                                </td>
                            </tr>
                            <%})}%>
            </table>

            <div class="total-price">

                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td>
                            <%=sum%>$
                        </td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>
                            <%=(0.18*sum).toFixed(2)%>$
                        </td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>
                            <%=(1.18*sum).toFixed(2)%>$
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><a href="" class="btn">Place your Order</a></td>
                    </tr>
                </table>


            </div>
        </div>

        <!------------Footer-------------->
        <%- include('./partials/footer.ejs') %>

            <!-----------JS for toggle Menu------------>
            <script>
                function check(event) {
                    var id = event.target.value;
                    console.log(id)
                    console.log('remove1')
                    const del = document.querySelector('a.delete');
                    console.log('remove')
                    window.location.href = `/cart/delete?id=${id}`

                }
            </script>

    </body>

</html>