<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <div class="header">
            <div class="container">
                <%- include('./partials/nav.ejs') %>

                    <div class="row home">
                        <div class="col-2">
                            <h1>Revamp the way you look at your meds.</h1>
                            <p>Explore our expansive services including clinical services, safe and efficient medications, and reliable customer service.</p>
                            <a href="#categories" class="btn">Explore Now &#10132;</a>
                        </div>
                        <div class="col-2">
                            <img src="/main2.png">
                        </div>
                    </div>
            </div>
        </div>

        <!------- Featured Categories---------------->
        <div class="categories">
            <div class="small-container">
                <h2 class="title" id="categories">Categories</h2>
                <br>
                <div class="row home">
                    <div class="col-3">
                        <img src="/category-1.jpg">
                        <figcaption>Pills</figcaption>
                    </div>
                    <div class="col-3">
                        <img src="/category-2.jpg">
                        <figcaption>Syrups</figcaption>
                    </div>
                    <div class="col-3">
                        <img src="/category-3.jpg">
                        <figcaption>Devices</figcaption>
                    </div>
                </div>
            </div>

        </div>

        <!---------------Featured Products--------------->
        <div class="small-container">
            <h2 class="title">Featured Products</h2>
            <div class="row">
                <% if (prod1.length > 0) { %>
                    <% prod1.forEach( product => {%>
                        <div class="col-4">
                            <a class="single" href="/products/<%=product._id %>">
                                <img src="<%- product.src %>">
                                <h4>
                                    <%= product.name %>
                                </h4>
                            </a>
                            <div class="rating">
                                <% for (j = 0; j < product.rating; j++) { %>
                                    <i class="fa fa-star"></i>
                                    <%}%>
                                        <% for (j = 0; j < 5-product.rating; j++) { %>
                                            <i class="fa fa-star-o"></i>
                                            <%}%>

                            </div>
                            <p>
                                <%= product.price %>$
                            </p>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <p>There are no products to display...</p>
                                <% } %>
            </div>

            <h2 class="title">Latest Products</h2>
            <%if(prod2.length>0) {%>
                <%for(i=0;i<prod2.length;i++) {%>
                    <div class="row">
                        <%var products=prod2[i];%>
                            <% if (products.length > 0) { %>
                                <% products.forEach( product => {%>
                                    <div class="col-4">
                                        <a class="single" href="/products/<%=product._id %>">
                                            <img src="<%- product.src %>">
                                            <h4>
                                                <%= product.name %>
                                            </h4>
                                        </a>
                                        <div class="rating">
                                            <% for (j = 0; j < product.rating; j++) { %>
                                                <i class="fa fa-star"></i>
                                                <%}%>
                                                    <% for (j = 0; j < 5-product.rating; j++) { %>
                                                        <i class="fa fa-star-o"></i>
                                                        <%}%>

                                        </div>
                                        <p>
                                            <%= product.price %>$
                                        </p>

                                    </div>
                                    <% }) %>
                                        <% }%>
                    </div>
                    <%}} else { %>
                        <p>There are no products to display... Try to go back a page</p>
                        <br />
                        <% } %>

        </div>

        <!----------------Offer---------------->
        <div class="offer">
            <div class="small-container">
                <div class="row">
                    <div class="col-2">
                        <img src="/exclusive.png" class="offer-img">
                    </div>
                    <div class="col-2">
                        <p>Exclusive Available on PharmaMan</p>
                        <h1>Otrivin Nasal Spray</h1>
                        <small>The Otrivin Nasal Spray is to be used by adults
                        and is available for exclusively cheaper rate at PharmaMan. <br>
                        For Buying Your WEAPON against COVID-19
                        </small> <br>
                        <a href="" class="btn">Click here &#10132;</a>
                    </div>
                </div>
            </div>
        </div>

        <!------------Testimonial---------->
        <div class="testimonial">
            <div class="small-container">
                <div class="row">
                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>Lorem ipsum is simply dummy text of printing and type setting industry. Lorem ipsum has been the industry's standard dummy text ever.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <img src="/user-1.png">
                        <h3>Sean Parker</h3>
                    </div>

                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>Lorem ipsum is simply dummy text of printing and type setting industry. Lorem ipsum has been the industry's standard dummy text ever.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <img src="/user-2.png">
                        <h3>Mike Smith</h3>
                    </div>

                    <div class="col-3">
                        <i class="fa fa-quote-left"></i>
                        <p>Lorem ipsum is simply dummy text of printing and type setting industry. Lorem ipsum has been the industry's standard dummy text ever.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <img src="/user-3.png">
                        <h3>Mable Joe</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-------------Brands-------------->
        <div class="brands">
            <div class="small-container">
                <div class="row home">
                    <div class="col-5">
                        <img src="/logo-abbott.png">
                    </div>
                    <div class="col-5">
                        <img src="/logo-cipla.png">
                    </div>
                    <div class="col-5">
                        <img src="/logo-reddy.png">
                    </div>
                    <div class="col-5">
                        <img src="/logo-zydus.png">
                    </div>
                    <div class="col-5">
                        <img src="/logo-mankind.png">
                    </div>
                </div>
            </div>
        </div>


        <!------------Footer-------------->
        <%- include('./partials/footer.ejs') %>

            <!-----------JS for toggle Menu------------>
            <script>
                var MenuItems = document.getElementById("MenuItems");
                MenuItems.style.maxHeight = "0px";

                function menuToggle() {
                    if (MenuItems.style.maxHeight == "0px") {
                        MenuItems.style.maxHeight = "200px"
                    } else {
                        MenuItems.style.maxHeight = "0px"
                    }
                }
            </script>

    </body>

</html>