<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <div class="header-2">
            <div class="container">
                <%- include('./partials/nav.ejs') %>
            </div>
        </div>

        <!--------------------Cart Item Details---------->
        <% var sum=0;%>
            <% if(products.length>0){%>
                <div class="small-container cart-page">
                    <table>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                            <th>Status</th>
                            <%if(user.admin){%>
                                <th>Update</th>
                                <%}else{%>
                                    <th>Cancellation</th>
                                    <%}%>
                        </tr>


                        <%products.forEach(product=>{%>
                            <tr>
                                <td>
                                    <div class="cart-info">
                                        <a href="/products/<%=product._productid._id %>"><img src="<%=product._productid.src%>"></a>
                                        <div>
                                            <p>
                                                <%=product._productid.name%>
                                            </p>
                                            <small><%=product._productid.price%>$</small>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p>
                                        <%=product.quantity%>
                                    </p>
                                </td>
                                <td>
                                    <%=product.quantity*product._productid.price%>$
                                        <%sum+=product.quantity*product._productid.price%>
                                </td>
                                <td>
                                    <p>
                                        <%if(product.status){%>
                                            <p>Delivered</p>
                                            <%}else{%>
                                                <p>In Transit</p>
                                                <%}%>
                                    </p>
                                </td>
                                <%if(user.admin){%>
                                    <td>
                                        <form action="/pending/<%=product._id%>?status=<%=product.status%>" method="POST" id="form<%=product._id %>"><button type="submit" class="btn-update">Update</button></form>
                                    </td>
                                    <%}else{%>
                                        <%if(!product.status){%>
                                            <td>

                                                <button type="button" class="btn btn-info btn-lg btn-cancel" data-toggle="modal" data-target="#myModal">Cancel Order</button>
                                                <div class="modal" id="myModal">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Confirmation</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Are you sure you want to proceed?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form action="/pending/delete/<%=product._id%>" id="form<%=product._id %>"><button type="submit" class="btn btn-primary">Cancel Order</button></form>
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <%}else{%>
                                                <td></td>
                                                <%}}%>
                            </tr>
                            <%})%>
                    </table>
                </div>
                <%}else{%>
                    <div class="blank">
                        <p>You don't have any <b>pending or completed orders</b></p>
                        <a href="/products" class="btn">Go to Products Page</a>
                    </div>
                    <%}%>

                        <!------------Footer-------------->
                        <%- include('./partials/footer.ejs') %>

                            <!-----------JS for toggle Menu------------>
                            <script>
                                function check(event) {
                                    var id = event.target.value;
                                    console.log(id)
                                    console.log('remove1')
                                    const del = document.querySelector('a.delete');
                                    console.log('remove')
                                    window.location.href = `/cart/delete?id=${id}`

                                }
                                var MenuItems = document.getElementById("MenuItems");
                                MenuItems.style.maxHeight = "0px";

                                function menuToggle() {
                                    if (MenuItems.style.maxHeight == "0px") {
                                        MenuItems.style.maxHeight = "200px"
                                    } else {
                                        MenuItems.style.maxHeight = "0px"
                                    }
                                }
                                $(document).on('click', '#close', function() {
                                    $('#myModal').modal('hide');
                                });
                                $(document).on('click', '.btn-close', function() {
                                    $('#myModal').modal('hide');
                                });
                            </script>

    </body>

</html>