<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


    <body>
        <div class="header-2">
            <div class="container">
                <%- include('./partials/nav.ejs') %>
            </div>
        </div>
        <div class="small-container">
            <div class="row row-2">
                <h2>All Products</h2>
                <Select>
                <option>Default sorting</option>
                <option>Sort by price</option>
                <option>Sort by popularity</option>
                <option>Sort by rating</option>
            </Select>
            </div>
            <%if(prod.length>0) {%>
                <%for(i=0;i<prod.length;i++) {%>
                    <div class="row">
                        <%var products=prod[i];%>
                            <% if (products.length > 0) { %>
                                <% products.forEach( product => {%>
                                    <div class="col-4">
                                        <img src="<%- product.src %>">
                                        <h4>
                                            <%= product.name %>
                                        </h4>
                                        <div class="rating">
                                            <% for (j = 0; j < product.rating; j++) { %>
                                                <i class="fa fa-star"></i>
                                                <%}%>
                                                    <% for (j = 0; j < 5-product.rating; j++) { %>
                                                        <i class="fa fa-star-o"></i>
                                                        <%}%>

                                        </div>
                                        <p>
                                            <%= product.price %>
                                        </p>

                                    </div>
                                    <% }) %>
                                        <% }%>
                    </div>
                    <%}} else { %>
                        <p>There are no products to display... Try to go back a page!</p>
                        <br />
                        <% } %>


                            <div class="page-btn">
                                <button onClick="check(event)" value="1">1</button>
                                <button onClick="check(event)" value="2">2</button>
                                <button onClick="check(event)" value="3">3</button>
                                <button onClick="check(event)" value="4">4</button>

                            </div>
        </div>
        <!------------Footer-------------->
        <%- include('./partials/footer.ejs') %>


            <!-----------JS for toggle Menu------------>
            <script>
                function check(event) {

                    var skip = event.target.value
                    var take = 4
                    const set = document.querySelector('div.page-btn');
                    set.onclick = function() {
                        location.href = `/product?page=${skip}&limit=${take}`
                    }

                }
            </script>

    </body>

</html>