<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


    <body>
        <div class="header-2">
            <div class="container">
                <%- include('./partials/nav.ejs') %>
            </div>
        </div>
        <div class="small-container">
            <div class="row row-2">
                <h2>All Products</h2>
                <Select>
                <option>Default sorting</option>
                <option>Sort by price</option>
                <option>Sort by popularity</option>
                <option>Sort by rating</option>
            </Select>
            </div>
            <%for(i=0;i<prod.length;i++) {%>
                <div class="row">
                    <%var products=prod[i];%>
                        <% if (products.length > 0) { %>
                            <% products.forEach( product => {%>
                                <div class="col-4">
                                    <img src="<%- product.src %>">
                                    <h4>
                                        <%= product.name %>
                                    </h4>
                                    <div class="rating">
                                        <% for (j = 0; j < product.stars; j++) { %>
                                            <i class="fa fa-star"></i>
                                            <%}%>
                                                <% for (j = 0; j < 5-product.stars; j++) { %>
                                                    <i class="fa fa-star-o"></i>
                                                    <%}%>

                                    </div>
                                    <p>
                                        <%= product.price %>
                                    </p>
                                </div>
                                <% }) %>
                                    <% } else { %>
                                        <p>There are no products to display...</p>
                                        <% } %>
                </div>
                <%}%>
                    <div class="page-btn">
                        <a href="product-1" data-doc="1">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a>&#8594</a>
                    </div>
        </div>
        <!------------Footer-------------->
        <%- include('./partials/footer.ejs') %>


            <!-----------JS for toggle Menu------------>
            <script>
                var MenuItems = document.getElementById("MenuItems");
                MenuItems.style.maxHeight = "0px";

                function menuToggle() {
                    if (MenuItems.style.maxHeight == "0px") {
                        MenuItems.style.maxHeight = "200px"
                    } else {
                        MenuItems.style.maxHeight = "0px"
                    }
                }
            </script>

    </body>

</html>